{% extends "sidebar.html" %}
{% block content -%}
 <div class="container">
  <div class="page-header">
    <h1>弹性运维 <small>以干掉运维为己任</small></h1>
  </div>  <!-- /.page -->
  <div class="row">
    <div class="col-sm-8">
      <div role="tabpanel">
      
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">上传</a></li>
          <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">编辑</a></li>
          <li role="presentation"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab">设置</a></li>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="upload">
            <form id="addPost" method="POST" enctype="multipart/form-data">
              <h2 class="form-signin-heading">上传新文章</h2>
              <div class="form-group">
                <label for="inputTitle">文章标题</label>
                <input type="text" id="inputTitle" name="title" class="form-control" placeholder="文章标题" required autofocus>
              </div>
              <div class="form-group">
                <label for="inputTags">Tags</label>
                <input type="text" id="inputTags" name='tags' class="form-control" placeholder="Tags 以空格分隔" required>
              </div>
              <div class="form-group">
                <label for="inputSummary">介绍</label>
                <textarea type="text" id="inputSummary" name='Summary' class="form-control" placeholder="简单介绍" required></textarea>
              </div>
              <div class="form-group">
                <label for="inputFile">选择Markdown文件</label>
                <input type="file" id="inputFile" name='mdfile' required>
              </div>
              <button class="btn btn-default" id="upload" type="button">上传</button>
              <p id='feedtext' class="hidden">成功</p>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="edit">
            <table class="table table-hover table-striped table-condensed ">
              {% for post in posts %}
                  <a href="/admin/e/{{ post.id }}">{{ post.title }}</a>
              {% endfor %}
            </table>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">1</button>
              <button type="button" class="btn btn-default">2</button>
              <button type="button" class="btn btn-default">3</button>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="setting">
          </div>
        </div>
      
      </div>

    </div>  <!-- /.col-sm-8 -->
    {% block sidebar -%}
    {{ super() }}
    {%- endblock %}
  </div>  <!-- /.row -->
</div>  <!-- /.container -->
{%- endblock %}
{% block scripts -%}
{{ super() }}
    <script type="text/javascript">
      $('#upload').click(function () {
        var mdfile = new FormData();
        var filebox = document.getElementById('inputFile').files[0];
        mdfile.append('mdfile', filebox);
        mdfile.append('title', $('#inputTitle').val());
        mdfile.append('tags', $('#inputTags').val());
        mdfile.append('summary', $('#inputSummary').val());
        mdfile.append('filename', filebox.name);
        //console.log(mdfile);
        if(mdfile
      	$.ajax({
      	  url: '/addPost',
      	  type: 'POST',
      	  enctype: 'multipart/form-data',
      	  data: mdfile,
      	  success: function (data) {
      	    if (data.success) {
        	  	$('#feedtext').removeClass();
        	  	$('#feedtext').addClass('bg-success');
        	  	$('#feedtext').html('成功');
      	    }else {
        	  	$('#feedtext').removeClass();
      	    	$('#feedtext').addClass('bg-danger');
      	    	$('#feedtext').html('Error');
      	    };
      	  },
      	  error: function (jqXHR) {
        	  $('#feedtext').removeClass();
      	    $('#feedtext').addClass('bg-danger');
      	    $('#feedtext').html('Error'+jqXHR.msg);
      	  },
      	  processData: false,
      	  contentType: false
      	})
      })
    </script>
{%- endblock %}
