{% extends "sidebar.html" %}
{% block head -%}
{{ super() }}
{%- endblock %}
{% block content -%}
 <div class="container">
  <div class="page-header">
    <h1>{{ post.title }}</h1>
  </div>  <!-- /.page -->
  <div class="row">
    <div class="col-sm-8">
          {{ html.tags }}
          {{ html.toc }}
      <div class="featurette">
      {{ html.body }}
      </div> <!-- /.featurette -->
    </div>  <!-- /.col-sm-8 -->
    {% block sidebar -%}
    {{ super() }}
    {%- endblock %}
  </div>  <!-- /.row -->
</div>  <!-- /.container -->
{%- endblock %}
